In [5]:
import pandas as pd
import json

In [6]:
with open('pa.json', 'r', encoding='utf8') as f:
    data = json.load(f)
    seats = data['resultData']['win_nearest_candidates']
    print(len(seats))

51

In [9]:
store = []
for seat_no, seat in seats.items():
    if 'nearest' in seat:
        nearest = seat['nearest']
        store.append((
            nearest['area_name'],
            nearest['candidates_name'],
            nearest['party'],
            nearest['vote_cast'],
            nearest['jote']
        ))
    if 'win' in seat:
        win = seat['win']
        store.append((
            win['area_name'],
            win['candidates_name'],
            win['party'],
            win['vote_cast'],
            win['jote']
        ))
    
print(len(store))

101

In [11]:
df = pd.DataFrame(store, columns=['seat', 'name_bn', 'party_bn', 'vote', 'jote'])
df.head()

           seat                   name_bn party_bn    vote       jote
0  মৌলভীবাজার-৪       শেখ নূরে আলম হামিদী      bkm   50204  bjai_jote
1  মৌলভীবাজার-৪  মোঃ মুজিবুর রহমান চৌধুরী      bnp  170877   bnp_jote
2       বগুড়া-৬         মোঃ আবিদুর রহমান     bjai   97626  bjai_jote
3       বগুড়া-৬               তারেক রহমান      bnp  216284   bnp_jote
4       বগুড়া-৫         মোঃ দবিবুর রহমান     bjai  143329  bjai_jote

In [12]:
df.to_csv('pa.csv', index=False)