In [3]:
import requests
from bs4 import BeautifulSoup as bs
import re
import pandas as pd
from time import sleep

In [2]:
dstore = []
for i in range(1, 9):
    print(i)
    res = requests.get(f'https://election.dhakatribune.com/get-seats/{i}')
    if res.status_code == 200:
        print('200')
        data = res.json()
        for seat in data:
            dstore.append(seat)

dfd = pd.DataFrame(dstore)
dfd.head()

1
200
2
200
3
200
4
200
5
200
6
200
7
200
8
200

,id,seat_no,seat_name,division_id,total_voter,male_voter,female_voter,total_center,result_id,seats_area,yes,no,total_candidate
0,106,109,Barguna-1,1,"519,460","259,098","260,351",187,None,"Amtali, Taltali, Barguna Sadar",None,None,4
1,107,110,Barguna-2,1,"337,744","167,965","169,775",114,None,"Patharghata, Bamana, Betagi",None,None,9
2,108,111,Patuakhali-1,1,"505,840","254,339","251,493",159,None,"Mirzaganj, Dumki, Patuakhali Sadar",None,None,6
3,109,112,Patuakhali-2,1,"315,282","160,501","154,779",114,None,Baufal,None,None,5
4,110,113,Patuakhali-3,1,"375,871","189,020","186,848",124,None,"Dasmina, Galachipa",None,None,5

In [26]:
dfd.shape

(300, 13)

In [27]:
dfd.to_csv('data/dt_seats.csv', index=False)

In [4]:
rstore = []
count = 5
for i, row in dfd.iterrows():
    print(row.seat_name)
    res = requests.get(f'https://election.dhakatribune.com/get-candidate/{row.seat_no}')
    print(res.status_code)
    if res.status_code == 200:
        data = res.json()
        for candidate in data:
            rstore.append(candidate)
    count = count - 1
    if count == 0:
        print('sleeping')
        sleep(2)
        count = 5

Barguna-1
500
Barguna-2
500
Patuakhali-1
500
Patuakhali-2
500
Patuakhali-3
500
sleeping
Patuakhali-4
500
Bhola-1
500
Bhola-2
500
Bhola-3
500
Bhola-4
500
sleeping
Barisal-1
500
Barisal-2
500
Barisal-3
500
Barisal-4
500
Barisal-5
500
sleeping
Barisal-6
500
Jhalakathi-1
500
Jhalakathi-2
500
Pirojpur-1
500
Pirojpur-2
500
sleeping
Pirojpur-3
500
Brahmanbaria-1
500
Brahmanbaria-2
500
Brahmanbaria-3
500
Brahmanbaria-4
500
sleeping
Brahmanbaria-5
500
Brahmanbaria-6
500
Comilla-1
500
Comilla-2
500
Comilla-3
500
sleeping
Comilla-4
500
Comilla-5
500
Comilla-6
500
Comilla-7
500
Comilla-8
500
sleeping
Comilla-9
500
Comilla-10
500
Comilla-11
500
Chandpur-1
500
Chandpur-2
500
sleeping
Chandpur-3
500
Chandpur-4
500
Chandpur-5
500
Feni-1
500
Feni-2
500
sleeping
Feni-3
500
Noakhali-1
500
Noakhali-2
500
Noakhali-3
500
Noakhali-4
500
sleeping
Noakhali-5
500
Noakhali-6
500
Lakshmipur-1
500
Lakshmipur-2
500
Lakshmipur-3
500
sleeping
Lakshmipur-4
500
Chittagong-1
500
Chittagong-2
500
Chittagong-3
500
Chittagong-4
500
sleeping
Chittagong-5
500
Chittagong-6
500
Chittagong-7
500
Chittagong-8
500
Chittagong-9
500
sleeping
Chittagong-10
500
Chittagong-11
500
Chittagong-12
500
Chittagong-13
500
Chittagong-14
500
sleeping
Chittagong-15
500
Chittagong-16
500
Cox's Bazar-1
500
Cox's Bazar-2
500
Cox's Bazar-3
500
sleeping
Cox's Bazar-4
500
Khagrachari
500
Rangamati
500
Bandarban
500
Tangail-1
500
sleeping
Tangail-2
500
Tangail-3
500
Tangail-4
500
Tangail-5
500
Tangail-6
500
sleeping
Tangail-7
500
Tangail-8
500
Kishoreganj-1
500
Kishoreganj-2
500
Kishoreganj-3
500
sleeping
Kishoreganj-4
500
KIshoreganj-5
500
Kishoreganj-6
500
Manikganj-1
500
Manikganj-2
500
sleeping
Manikganj-3
500
Munshiganj-1
500
Munshiganj-2
500
Munshiganj-3
500
Dhaka-1
500
sleeping
Dhaka-2
500
Dhaka-3
500
Dhaka-4
500
Dhaka-5
500
Dhaka-6
500
sleeping
Dhaka-7
500
Dhaka-8
500
Dhaka-9
500
Dhaka-10
500
Dhaka-11
500
sleeping
Dhaka-12
500
Dhaka-13
500
Dhaka-14
500
Dhaka-15
500
Dhaka-16
500
sleeping
Dhaka-17
500
Dhaka-18
500
Dhaka-19
500
Dhaka-20
500
Gazipur-1
500
sleeping
Gazipur-2
500
Gazipur-3
500
Gazipur-4
500
Gazipur-5
500
Narsingdi-1
500
sleeping
Narsingdi-2
500
Narsingdi-3
500
Narsingdi-4
500
Narsingdi-5
500
Narayanganj-1
500
sleeping
Narayanganj-2
500
Narayanganj-3
500
Narayanganj-4
500
Narayanganj-5
500
Rajbari-1
500
sleeping
Rajbari-2
500
Faridpur-1
500
Faridpur-2
500
Faridpur-3
500
Faridpur-4
500
sleeping
Gopalganj-1
500
Gopalganj-2
500
Gopalganj-3
500
Madaripur-1
500
Madaripur-2
500
sleeping
Madaripur-3
500
Shariatpur-1
500
Shariatpur-2
500
Shariatpur-3
500
Meherpur-1
500
sleeping
Meherpur-2
500
Kushtia-1
500
Kushtia-2
500
Kushtia-3
500
Kushtia-4
500
sleeping
Chuadanga-1
500
Chuadanga-2
500
Jhenaidah-1
500
Jhenaidah-2
500
Jhenaidah-3
500
sleeping
Jhenaidah-4
500
Jessore-1
500
Jessore-2
500
Jessore-3
500
Jessore-4
500
sleeping
Jessore-5
500
Jessore-6
500
Magura-1
500
Magura-2
500
Narail-1
500
sleeping
Narail-2
500
Bagerhat-1
500
Bagerhat-2
500
Bagerhat-3
500
Bagerhat-4
500
sleeping
Khulna-1
500
Khulna-2
500
Khulna-3
500
Khulna-4
500
Khulna-5
500
sleeping
Khulna-6
500
Satkhira-1
500
Satkhira-2
500
Satkhira-3
500
Satkhira-4
500
sleeping
Joypurhat-1
500
Joypurhat-2
500
Bogra-1
500
Bogra-2
500
Bogra-3
500
sleeping
Bogra-4
500
Bogra-5
500
Bogra-6
500
Bogra-7
500
Chapainawabganj-1
500
sleeping
Chapainawabganj-2
200
Chapainawabganj-3
200
Naogaon-1
200
Naogaon-2
200
Naogaon-3
200
sleeping
Naogaon-4
200
Naogaon-5
200
Naogaon-6
200
Rajshahi-1
200
Rajshahi-2
200
sleeping
Rajshahi-3
200
Rajshahi-4
200
Rajshahi-5
200
Rajshahi-6
200
Natore-1
200
sleeping
Natore-2
200
Natore-3
200
Natore-4
200
Sirajganj-1
200
Sirajganj-2
200
sleeping
Sirajganj-3
200
Sirajganj-4
200
Sirajganj-5
200
Sirajganj-6
200
Pabna-1
200
sleeping
Pabna-2
200
Pabna-3
200
Pabna-4
200
Pabna-5
200
Panchagarh-1
200
sleeping
Panchagarh-2
200
Thakurgaon-1
200
Thakurgaon-2
200
Thakurgaon-3
200
Dinajpur-1
200
sleeping
Dinajpur-2
200
Dinajpur-3
200
Dinajpur-4
200
Dinajpur-5
200
Dinajpur-6
200
sleeping
Nilphamari-1
200
Nilphamari-2
200
Nilphamari-3
200
Nilphamari-4
200
Lalmonirhat-1
200
sleeping
Lalmonirhat-2
200
Lalmonirhat-3
200
Rangpur-1
200
Rangpur-2
200
Rangpur-3
200
sleeping
Rangpur-4
200
Rangpur-5
200
Rangpur-6
200
Kurigram-1
200
Kurigram-2
200
sleeping
Kurigram-3
200
Kurigram-4
200
Gaibandha-1
200
Gaibandha-2
200
Gaibandha-3
200
sleeping
Gaibandha-4
200
Gaibandha-5
200
Jamalpur-1
200
Jamalpur-2
200
Jamalpur-3
200
sleeping
Jamalpur-4
200
Jamalpur-5
200
Sherpur-1
200
Sherpur-2
200
Sherpur-3
200
sleeping
Mymensingh-1
200
Mymensingh-2
200
Mymensingh-3
200
Mymensingh-4
200
Mymensingh-5
200
sleeping
Mymensingh-6
200
Mymensingh-7
200
Mymensingh-8
200
Mymensingh-9
200
Mymensingh-10
200
sleeping
Mymensingh-11
200
Netrokona-1
200
Netrokona-2
200
Netrokona-3
200
Netrokona-4
200
sleeping
Netrokona-5
200
Sunamganj-1
200
Sunamganj-2
200
Sunamganj-3
200
Sunamganj-4
200
sleeping
Sunamganj-5
200
Sylhet-1
200
Sylhet-2
200
Sylhet-3
200
Sylhet-4
200
sleeping
Sylhet-5
200
Sylhet-6
200
Moulvibazar-1
200
Moulvibazar-2
200
Moulvibazar-3
200
sleeping
Moulvibazar-4
200
Habiganj-1
200
Habiganj-2
200
Habiganj-3
200
Habiganj-4
200
sleeping

In [28]:
dfr = pd.DataFrame(rstore)
dfr.head()

,id,name,image,league,logo,party_id,seat_id,el_status,vote,center
0,921,Md. Enamul Haque,1770219451.jpg,Bangladesh Jamaat-e-Islami,1769852416.png,36,44,None,14796,13
1,923,Md. Shamsuzzoha Khan,1770219513.jpg,Bangladesh Nationalist Party (BNP),1769852771.webp,38,44,None,12850,13
2,922,Md. Matibul Islam,1770845398.,Amar Bangladesh Party (AB Party),1769855528.jpg,66,44,None,None,13
3,924,Abdullah Al-Mamun Saikat,1770845411.,Bangladesh Nationalist Front (BNF),1703159369.png,9,45,None,None,None
4,925,Kalipada Sarkar,1770845420.,Bangladesh Socialist Party (BASAD),1769854432.png,48,45,None,None,None

In [29]:
party_mapping = {
    '38': 'BNP',
    '36': 'Jamaat',
    '66': 'AB Party',
    '37': 'Islami Andolan Bangladesh',
    '5': 'JaPa',
    '47': 'CPB',
    '90': 'Ganosamhati Andolon (Saki)',
    '63': 'NCP',
    '50': 'Bangladesh Khelafat Majlish',
    '115': 'Gano Forum',
    '99': 'Jamiat Ulema-e-Islam Bangladesh',
    '45': 'Khelafat Majlish',
    '65': 'BJP'
}

def map_party(x):
    x = str(x)
    if x in party_mapping.keys():
        return party_mapping[x]
    return None

dfr['party'] = dfr.party_id.apply(map_party)
dfr.head()

,id,name,image,league,logo,party_id,seat_id,el_status,vote,center,party
0,921,Md. Enamul Haque,1770219451.jpg,Bangladesh Jamaat-e-Islami,1769852416.png,36,44,None,14796,13,Jamaat
1,923,Md. Shamsuzzoha Khan,1770219513.jpg,Bangladesh Nationalist Party (BNP),1769852771.webp,38,44,None,12850,13,BNP
2,922,Md. Matibul Islam,1770845398.,Amar Bangladesh Party (AB Party),1769855528.jpg,66,44,None,None,13,AB Party
3,924,Abdullah Al-Mamun Saikat,1770845411.,Bangladesh Nationalist Front (BNF),1703159369.png,9,45,None,None,None,None
4,925,Kalipada Sarkar,1770845420.,Bangladesh Socialist Party (BASAD),1769854432.png,48,45,None,None,None,None

In [30]:
dfr = dfr.dropna(subset=['party'])
dfr.head()

,id,name,image,league,logo,party_id,seat_id,el_status,vote,center,party
0,921,Md. Enamul Haque,1770219451.jpg,Bangladesh Jamaat-e-Islami,1769852416.png,36,44,None,14796,13,Jamaat
1,923,Md. Shamsuzzoha Khan,1770219513.jpg,Bangladesh Nationalist Party (BNP),1769852771.webp,38,44,None,12850,13,BNP
2,922,Md. Matibul Islam,1770845398.,Amar Bangladesh Party (AB Party),1769855528.jpg,66,44,None,None,13,AB Party
5,926,Nasir Bin Asgar,1770845425.,Islami Andolon Bangladesh,1769852567.png,37,45,None,None,None,Islami Andolan Bangladesh
7,928,Md. Fazle Huda,1770220750.jpg,Bangladesh Nationalist Party (BNP),1769852771.webp,38,45,None,None,None,BNP

In [31]:
df = pd.merge(dfr, dfd, how='left', left_on='seat_id', right_on='seat_no')
df = df[['seat_name', 'party', 'name', 'vote', 'center', 'division_id', 'total_center']]
df.head()

,seat_name,party,name,vote,center,division_id,total_center
0,Chapainawabganj-2,Jamaat,Md. Enamul Haque,14796,13,5,182
1,Chapainawabganj-2,BNP,Md. Shamsuzzoha Khan,12850,13,5,182
2,Chapainawabganj-2,AB Party,Md. Matibul Islam,None,13,5,182
3,Chapainawabganj-3,Islami Andolan Bangladesh,Nasir Bin Asgar,None,None,5,172
4,Chapainawabganj-3,BNP,Md. Fazle Huda,None,None,5,172

In [32]:
seat_mapping = {
    'Chapainawabganj': 'Chapai Nawabganj',
    'Jhalakathi': 'Jhalokati'
}

def map_seat(x):
    name, number = x.split('-')
    if name in seat_mapping.keys():
        return seat_mapping[name] + '-' + number
    return x

df['seat_name'] = df.seat_name.apply(map_seat)
df.head()

,seat_name,party,name,vote,center,division_id,total_center
0,Chapai Nawabganj-2,Jamaat,Md. Enamul Haque,14796,13,5,182
1,Chapai Nawabganj-2,BNP,Md. Shamsuzzoha Khan,12850,13,5,182
2,Chapai Nawabganj-2,AB Party,Md. Matibul Islam,None,13,5,182
3,Chapai Nawabganj-3,Islami Andolan Bangladesh,Nasir Bin Asgar,None,None,5,172
4,Chapai Nawabganj-3,BNP,Md. Fazle Huda,None,None,5,172

In [33]:
df['time'] = pd.to_datetime('now', utc=True)
df['source'] = 'dt'
df.head()

,seat_name,party,name,vote,center,division_id,total_center,time,source
0,Chapai Nawabganj-2,Jamaat,Md. Enamul Haque,14796,13,5,182,2026-02-12 15:56:06.220455+00:00,dt
1,Chapai Nawabganj-2,BNP,Md. Shamsuzzoha Khan,12850,13,5,182,2026-02-12 15:56:06.220455+00:00,dt
2,Chapai Nawabganj-2,AB Party,Md. Matibul Islam,None,13,5,182,2026-02-12 15:56:06.220455+00:00,dt
3,Chapai Nawabganj-3,Islami Andolan Bangladesh,Nasir Bin Asgar,None,None,5,172,2026-02-12 15:56:06.220455+00:00,dt
4,Chapai Nawabganj-3,BNP,Md. Fazle Huda,None,None,5,172,2026-02-12 15:56:06.220455+00:00,dt

In [34]:
df.to_csv('data/votes_raw.csv', index=False)