In [1]:
import pandas as pd


# get vote pc
def get_vote_pc(row):
    try:
        return round(row.vote / row.voters * 100, 2)
    except:
        return 0


# read data
dfv = pd.read_csv('data/votes_raw.csv') # seat_name,party,name,vote,center,division_id,total_center,time,source
dfs = pd.read_csv('data/seat_voters_2026.csv') # seat,voters,male_voters,female_voters,thirdgender_voters

In [10]:
# get seat-wise and party-wise latest vote count
idx = dfv.groupby(['seat_name', 'party'])['time'].idxmax()
dfvc = dfv.loc[idx]
dfvpc = pd.merge(dfvc, dfs, how='left', left_on='seat_name', right_on='seat')
dfvpc['vote_pc'] = dfvpc.apply(get_vote_pc, axis=1)
dfvpc = dfvpc.drop(columns=['seat'])
dfvpc.head()

,seat_name,party,name,vote,center,division_id,total_center,time,source,voters,male_voters,female_voters,thirdgender_voters,vote_pc
0,Chapai Nawabganj-2,AB Party,Md. Matibul Islam,NaN,13.0,5,182,2026-02-12 15:56:06.220455+00:00,dt,461000.0,228825.0,232174.0,1.0,NaN
1,Chapai Nawabganj-2,BNP,Md. Shamsuzzoha Khan,12850.0,13.0,5,182,2026-02-12 15:56:06.220455+00:00,dt,461000.0,228825.0,232174.0,1.0,2.79
2,Chapai Nawabganj-2,Jamaat,Md. Enamul Haque,14796.0,13.0,5,182,2026-02-12 15:56:06.220455+00:00,dt,461000.0,228825.0,232174.0,1.0,3.21
3,Chapai Nawabganj-3,BNP,Md. Fazle Huda,NaN,NaN,5,172,2026-02-12 15:56:06.220455+00:00,dt,468479.0,236648.0,231831.0,0.0,NaN
4,Chapai Nawabganj-3,Islami Andolan Bangladesh,Nasir Bin Asgar,NaN,NaN,5,172,2026-02-12 15:56:06.220455+00:00,dt,468479.0,236648.0,231831.0,0.0,NaN

In [11]:
# get party-wise summary
dfpc = dfvpc.groupby('party').agg({'time': 'max', 'vote': 'sum', 'voters': 'sum'}).reset_index()
dfpc['vote_pc'] = dfpc.apply(get_vote_pc, axis=1)
dfpc.head()

,party,time,vote,voters,vote_pc
0,AB Party,2026-02-12 15:56:06.220455+00:00,0.0,4097124.0,0.00
1,BJP,2026-02-12 15:56:06.220455+00:00,0.0,368470.0,0.00
2,BNP,2026-02-12 15:56:06.220455+00:00,326515.0,37337985.0,0.87
3,Bangladesh Khelafat Majlish,2026-02-12 15:56:06.220455+00:00,12.0,3010524.0,0.00
4,CPB,2026-02-12 15:56:06.220455+00:00,0.0,9554663.0,0.00

In [18]:
# get seat-wise party summary
latest_time = dfvpc.groupby('seat_name')['time'].max().reset_index()
df_latest = dfvpc.merge(latest_time, on=['seat_name', 'time'])
dfps = df_latest.sort_values(['seat_name', 'vote'], ascending=[True, False]).drop_duplicates('seat_name')
dfps.head()
dfps = dfps.groupby('party')['seat_name'].count().reset_index()
dfp = pd.merge(dfpc, dfps, how='left', on='party')

dfp

,party,time,vote,voters,vote_pc,seat_name
0,AB Party,2026-02-12 15:56:06.220455+00:00,0.0,4097124.0,0.00,4.0
1,BJP,2026-02-12 15:56:06.220455+00:00,0.0,368470.0,0.00,1.0
2,BNP,2026-02-12 15:56:06.220455+00:00,326515.0,37337985.0,0.87,79.0
3,Bangladesh Khelafat Majlish,2026-02-12 15:56:06.220455+00:00,12.0,3010524.0,0.00,NaN
4,CPB,2026-02-12 15:56:06.220455+00:00,0.0,9554663.0,0.00,NaN
5,Gano Forum,2026-02-12 15:56:06.220455+00:00,0.0,2109652.0,0.00,NaN
6,Ganosamhati Andolon (Saki),2026-02-12 15:56:06.220455+00:00,0.0,2942427.0,0.00,NaN
7,Islami Andolan Bangladesh,2026-02-12 15:56:06.220455+00:00,0.0,31845480.0,0.00,2.0
8,JaPa,2026-02-12 15:56:06.220455+00:00,0.0,25517854.0,0.00,NaN
9,Jamaat,2026-02-12 15:56:06.220455+00:00,270643.0,30265615.0,0.89,7.0
10,Jamiat Ulema-e-Islam Bangladesh,2026-02-12 15:56:06.220455+00:00,0.0,355737.0,0.00,NaN
11,Khelafat Majlish,2026-02-12 15:56:06.220455+00:00,0.0,563978.0,0.00,NaN
12,NCP,2026-02-12 15:56:06.220455+00:00,1203.0,3807031.0,0.03,NaN